@import '../../variables.sass'

.s-services
  background: #f5f5f5
  .container
    display: flex
    flex-wrap: wrap
    padding: 60px 0
    >div
      width: 25%
      padding: 30px 0
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      i
        font-size: 40px
        color: #656565
      h4
        text-transform: uppercase
        margin: 20px

