@import '../../variables.sass'

.s-quote
  background: $brandColor
  .container
    overflow: hidden
  .quote-container
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 400px
    margin: 0 auto
    transition: .3s


.quote-item
  width: 800px
  font-size: 24px
  text-align: center
  position: absolute
  display: flex
  justify-content: center
  p
    color: white
  span
    position: absolute
    bottom: -60px
    color: white
    font-size: 16px

.controls
  display: flex
  justify-content: center
  padding: 30px

.control-item
  display: block
  width: 15px
  height: 15px
  background: rgba(white, .5)
  margin: 15px
  border-radius: 100px
  cursor: pointer
  transition: .3s
  &.active
    background: white
    transform: scale(1.5)