@import '../../variables.sass'

.s-form
  text-align: center
  background-color: #f5f5f5
  padding: 70px
  p
    margin: 20px
  .container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  .row
    display: flex
    justify-content: space-between
    input
      flex: 1
  form
    display: flex
    flex-direction: column
    width: 700px
  input
    background: white
    color: black
    outline: none
    padding: 20px
    margin: 15px
    font-size: 16px
    border: 2px solid transparent
    transition: .3s
    &.danger
      //Бог простит за !important, но возникает когнитивный диссонанс когда :focus накладывается на .danger
      border: 2px solid red !important
    &.success, &:focus
      border: 2px solid $brandColor


