@import "../../variables.sass"


.s-clients
  padding: 100px
  .container
    overflow: hidden
  .clients-container
    display: flex
    width: 100%
    transition: .3s


.clients-item
  display: flex
  justify-content: center
  align-items: center
  min-width: 20%