@import '../../variables.sass'

.s-skills
    background: rgba($gray, .05)
    margin-top: 100px
    h2
        margin-bottom: 30px
    .container
        display: flex
        justify-content: center
        align-items: center
        >div
            flex: 1
            justify-content: center
            align-items: center
            img
                height: 470px
                width: 100%

.counterUp-container
    span
        font-weight: bold
        text-transform: uppercase
        margin-right: 20px
        &.num
            margin-left: 20px
            &::after
                content: '%'
    .counterUp
        width: 500px
        height: 2px
        border-radius: 1px
        background: #d8d8d8
        margin: 20px 0 
        position: relative
        >div
            position: absolute
            height: 100%
            background: $brandColor