@import '../../variables.sass'
.s-about
	padding-top: 100px
	.container
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		text-align: center
	p
		margin: 40px 0
