@import '../../variables.sass'

section.s-header
	position: fixed
	z-index: 1000
	width: 100%
	transition: .3s
	&.st
		background: white
header.header
	width: 100%
	display: flex
	padding: 30px 15px
	box-sizing: border-box
	justify-content: space-between
	align-items: center
	.nav-list
		display: flex
		text-transform: uppercase
		a
			padding: 5px
			margin: 0 5px
			transition: .3s
			font-weight: bold
			&:hover
				color: $brandColor
