@import '../../variables.sass'

.s-opening
	height: 100vh
	width: 100%
	background: url("https://images.pexels.com/photos/934062/pexels-photo-934062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center -170px
	background-size: cover
.opening
	display: flex
	justify-content: flex-end
	align-items: center
	height: 100%
	.opening-info
		width: 470px
		margin-right: 50px
		h2
			font-size: 1.5em
		p
			padding: 20px 5px 20px
