@import "../../variables.sass"

footer
  background: black
  padding: 100px
  span
    color: white
    font-size: 18px
    &+p
      margin-top: 25px
  .container
    display: flex
    >div
      flex: 1
  .footer-nav
    display: flex
    >div
      flex: 1
      display: flex
      flex-direction: column
    a
      margin: 3px
      color: $gray
      transition: .3s
      &:hover
        color: white
        i
          color: white
    i
      transition: .3s
      color: $gray
      padding: 6px
      font-size: 36px