@import '../../variables.sass'

.s-work-process
    padding-top: 70px
    h2
        text-align: center
    p
        text-align: center
        margin: 40px

#custom-video-player
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    position: relative
    iframe
        background: rgba($gray, .2)
        margin-bottom: 60px

.custom-player-button
    position: absolute
    border-radius: 100%
    width: 100px
    height: 100px
    background: $brandColor
    display: flex
    justify-content: center
    align-items: center
    font-size: 30px
    color: white
    cursor: pointer
    transition: .3s
    &.hide
        opacity: 0
