@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

@import 'variables.sass'

*
    margin: 0
    padding: 0
    font-family: Montserrat

a
	color: black
	text-decoration: none
	&:visited
		color: black

.container
    width: 1170px
    margin: 0 auto
    position: relative

ul
  list-style-type: none


p
	color: $gray


.btn-primary
	background: $brandColor
	padding: 20px 30px
	font-size: 12px
	font-weight: bold
	//for scale when active
	display: inline-block
	//
	color: white
	text-transform: uppercase
	transition: .3s
	border: 1px solid $brandColor
	user-select: none
	cursor: pointer
	&:hover
		background: white
		color: $brandColor
	&:active
		transform: scale(.9)



//preloader
