@import '../../variables.sass'

.s-work
    display: flex
    flex-wrap: wrap
    position: relative

.work-item
    width: 25%
    height: 300px
    background: $brandColor
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    cursor: pointer
    position: relative
    transition: .3s
    .popUp
        opacity: 0
        background: rgba(black, .5)
        transition: .3s
        position: absolute
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        i
            color: white
            font-size: 30px
    img
        width: 130%
    &:nth-child(2n)
        background: $gray
    &:nth-child(4)
        background: red
    &.new
        animation: showNewWorkItems .6s
        transition: .6s
        &.toClose
            height: 0
            transform: scale(0)
    &:hover 
        transform: scale(1.05)
        z-index: 5
        .popUp
            opacity: 1
        

.btn-all-works
    width: 100%
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    font-weight: bold
    font-size: 20px
    background: rgba($gray, .2)
    transition: .3s
    cursor: pointer
    &:hover
        background: $brandColor


@keyframes showNewWorkItems
    0%
        transform: scale(0)
        height: 0
    100%
        transform: scale(1)
        height: 300px


.modal
    position: fixed
    padding-top: 100px
    top: 0
    width: 100%
    height: 100vh
    z-index: -1
    background: white
    opacity: 0
    transition: .3s
    &.visible
        z-index: 10
        opacity: 1
    .main-content
        display: flex 
        align-items: center
        height: 70%
        position: relative
        >div
            flex: 1
            height: 100%
            box-sizing: border-box
            display: flex
            justify-content: center
            align-items: center
            overflow: hidden
            img
                width: 110%
            
    .description
        background: rgba($gray, .1)
        display: flex
        justify-content: center
        align-items: center
        >div
            width: 60%
            margin: 0
            padding: 0
        h2
            margin-bottom: 40px
    .info
        margin-top: 40px
        span
            display: flex
            align-items: center
            &:nth-child(2n)
                margin: 5px 0
            p
                margin-left: 10px
        i
            font-size: 40px 
            margin: 0 15px 0 0
            transition: .3s
            &:hover
                color: $brandColor


.modal-control
    width: 100%
    height: 20%
    position: fixed
    bottom: 0
    // background: $brandColor
    display: flex
    >div
        display: flex
        flex: 1
        justify-content: center
        align-items: center
        font-size: 24px
        user-select: none
        i
            position: static
            transition: .3s
            cursor: pointer
            z-index: 20
            color: black
            margin: 20px
            font-size: 28px
            &:hover
                color: $brandColor
        &.prev
            justify-content: flex-start
            padding-left: 60px
            cursor: pointer
            span
                transition: .3s
            &:hover
                color: $brandColor
                i
                    color: $brandColor
        &.next
            justify-content: flex-end
            padding-right: 60px
            cursor: pointer
            span
                transition: .3s
            &:hover
                color: $brandColor
                i
                    color: $brandColor

.modal.next .main-content
    animation: nextModal .6s

.modal.prev .main-content
    animation: prevModal .6s
    
@keyframes nextModal
    0%
        transform: translate(0, 0)
    50%
        transform: translate(-100%, 0)
    51% 
        transform: translate(100%, 0)
    100%
        transform: translate(0, 0)

@keyframes prevModal
    0%
        transform: translate(0, 0)
    50%
        transform: translate(100%, 0)
    51% 
        transform: translate(-100%, 0)
    100%
        transform: translate(0, 0)
        

