@import '../../variables.sass'

.s-numbers
    background: $brandColor
    width: 100%
    color: white
    height: 200px
    display: flex
    align-items: center
    .container
        display: flex
        justify-content: space-between

.numbers-item
    display: flex
    align-items: center
    text-transform: uppercase
    p
        color: white
    i
        font-size: 30px
        padding: 0 20px